body {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  text-align: center;
  background: url("./images/table.png") no-repeat center/cover;
  color: white;
  font-size: 24px;
  height: 100vh;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  color: hsl(147, 98%, 22%);
  background-color: goldenrod;
  max-width: 150px;
  width: 100%;
  border: none;
  font-weight: bold;
  padding: 5px 0px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 2px;
  margin-bottom: 5px;
}
