/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  background: url("https://kagi.com/proxy/j-c-park-goblin-village.jpg?c=_4gZ29C-kAFUzNwuJXNczatZ-BADzHJLKeJUx1HzvF2I6wMeFYg74PWWGCL28ZcDZZ8S_OvYbTSwu8gzMFhaJPY8VYM1-JBrK8wx7uyIHK--KZXRPneXj_R2TqLZvDqX6vWd7g-8DSdwEygVDI886A%3D%3D")
    no-repeat center/cover;
  background-color: hsla(0, 0%, 0%, 0.544);
  background-blend-mode: overlay;
  font-family: fantasy;
  text-align: center;
  font-weight: bold;
  color: white;
}

h1 {
  margin: 10px 0;
  font-size: 42px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 50px;
}

.hero {
  min-height: 100vh;
  max-width: 400px;
  margin: 0 auto;
}

button {
  border: none;
  padding: 10px 0px;
  color: white;
  font-weight: bold;
  width: 100%;
  max-width: 200px;
  margin-bottom: 5px;
  font-size: 22px;
  border-radius: 5px;
  cursor: pointer;
}

button:active {
  transform: scale(0.97);
}

#increment-btn {
  background: hsl(164, 78%, 34%);
  text-shadow: 0px 0px 3px black;
  box-shadow: 0px 4px 3px hsla(0, 0%, 13%, 0.754);
}

#save-btn {
  background: hsl(194, 67%, 44%);
  text-shadow: 0px 0px 3px black;
  box-shadow: 0px 4px 3px hsla(0, 0%, 13%, 0.754);
}

#save-el {
  font-size: 24px;
}
