* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-input,
.logo {
  display: block;
}

.search-input {
  width: 400px;
  line-height: 24px;
  padding: 8px 30px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}

.logo {
  margin-bottom: 20px;
  width: 300px;
}

.content {
  width: fit-content;
  margin: 100px auto 0;
}
