* {
    box-sizing: border-box;
}

main {
    max-width: 1280px;
}

.pokemons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.pokecard--name::first-letter {
    text-transform: capitalize;
}

.pokecard--name {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}

.pokecard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    padding: 20px 40px;
    border-radius: 20px;
}

.pokecard--img {
    width: 50px;
    height: 50px;
}
